@model GroupSpace.Models.Message

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Boodschap lezen"];
}

<h1>@Localizer["Boodschap lezen"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayTextFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2" >
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Receivers"]
        </dt>
        <dt class = "col-sm-4 col-md-3 col-ld-2">
            @Localizer["Read"]
        </dt>
        <dt class = "col-sm-6 col-md-7 col-ld-8">
            @Localizer["By"]
        </dt>
        @foreach (MessageDestination item in Model.Destinations)
        {
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-4 col-md-3 col-ld-2">
                @if (item.Read < DateTime.Now)
                {
                    @item.Read.ToString();
                }
            </dd>
            <dd class = "col-sm-6 col-md-7 col-ld-8">
                @item.Receiver.FirstName 
                @item.Receiver.LastName
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">@Localizer["Terug naar overzicht"]</a>
</div>
