@model GroupSpace.Models.MessageIndexViewModel

@{
    ViewData["Title"] = "Boodschappen";
}

<h1>Boodschappen</h1>

<p>
    <a asp-action="Create">Nieuwe Boodschap</a>
</p>

<p>
    <form asp-controller="Messages" asp-action="Index" method="get">
        Title: <input type="text" name="titleFilter" asp-for="TitleFilter"/>
        &nbsp;
        Group: <select asp-for="SelectedGroup" asp-items = "Model.GroupsToSelect">
            <option value="0">Allemaal</option>
        </select>
        &nbsp;
        <input type="submit" value="Filter" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilteredMessages[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredMessages[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredMessages[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilteredMessages[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FilteredMessages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Wijzig</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
