@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Startpagina"];
}

<div class="textopr">
    <h1 class="display-4">@Localizer["Welkom"]</h1>
</div>
<div style="margin-top:60px">
    <h4>@Localizer["Algemeen"]</h4>
</div>
<table style="padding-top:20px;margin-top:30px">
    <tr>
        <td class="col-md-5">
            <div><h5>@Localizer["Titel fasen"]</h5></div>
        </td>
        <td class="col-md-1"></td>
        <td class="col-md-5">
            <div><h5>@Localizer["Gebruik"]</h5></div>
        </td>
    </tr>
    <tr>
        <td>
            <div>@Localizer["Fase 1"]</div>
            <div>@Localizer["Fase 2"]</div>
            <div>@Localizer["Fase 3"]</div>
            <div>@Localizer["Fase 4"]</div>
            <div>@Localizer["Fase 5"]</div>
            <div>@Localizer["Fase 6"]</div>
        </td>
        <td></td>
        <td>
            <div>@Localizer["Start"]</div>
            <div>@Localizer["GitHub"]</div>
        </td>
    </tr>
</table>
<div style="margin-top:40px">
    <h5>@Localizer["Samen testen"]</h5>
    <h5>@Localizer["Invitation designers"]</h5>
</div>
